<!DOCTYPE html>
<html lang="{{ site.language }}">

{% include "partials/head.njk" %}

<body>
    {% include "partials/header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}
</body>

</html>