---
layout: layouts/base.njk
title: Thank You | Company Name
permalink: /thank-you/
---

<section class="thank-you-page">
    <div class="thank-you-page__inner container">
        <div class="thank-you-page__content">
            <p class="section__eyebrow thank-you-page__eyebrow">
                Message Sent
            </p>

            <h1 class="thank-you-page__title">
                Thank You for Reaching Out
            </h1>

            <p class="thank-you-page__text">
                Your message has been sent, and we'll respond as soon as possible.
            </p>

            <div class="thank-you-page__actions">
                <a class="button button--outline" href="/">
                    <span class="button__text">Back to Home</span>

                    <svg class="button__icon" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M19 12H5"></path>
                        <path d="M11 6l-6 6 6 6"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>