<section class="final-cta">
    <div class="final-cta__inner container--wide">
        <div class="final-cta__content">
            <h2 class="final-cta__title">
                Let’s Build a Stronger Financial Future—Together.
            </h2>

            <p class="final-cta__text">
                Whether you need strategic guidance, better reporting, or help navigating
                a transition, we’re here to help.
            </p>
        </div>

        <div class="final-cta__action">
            <div class="final-cta__prompt">
                <div class="site-icon final-cta__icon" aria-hidden="true"></div>

                <p class="final-cta__action-text">
                    Schedule a quick conversation to discuss your goals and how we can help.
                </p>
            </div>

            <div class="final-cta__action-content">
                <a class="button button--outline" href="/contact/">
                    Schedule a Consultation
                </a>
            </div>
        </div>
    </div>
</section>